*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

#body {
    padding: 1rem;
}

#gamePlayed {
    text-align: center;
}

.img-box {
    background-color: white;
    position: relative;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.entImgBox {
    width: 100%;
    height: 100%;
}

.main-img {
    width: 100%;
    height: 100%;
}

.main-img.visImg {
    visibility: visible;
    object-fit: cover;
    object-position: center;
}

.result {
    font-weight: 500;
}

#resDiv {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.15);
    display: none;
    align-items: flex-end;
    justify-content: center;
}

#resDiv.showResDiv {
    display: flex;
    z-index: 100;
}

#resTextDiv {
    opacity: 0;
    background-color: white;
    border: hidden;
    border-radius: 2.5rem 2.5rem 0 0;
    height: fit-content;
    will-change: opacity;
}

#resTextDiv.showTextDiv {
    opacity: 1;
    animation: showRes 500ms linear 1;
}

@keyframes showRes {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100%{opacity: 1;}
}

#resText {
    color: black;
    text-align: center;
    font-style: italic;
}

#canRes {
    margin-left: 90%;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: bold;
}

.imgPos {
    position: absolute;
    right: 0;
    background-color: black;
    color: white;
}

#introDiv {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.15);
    display: none;
    align-items: flex-end;
    justify-content: center;
    overflow-y: auto;
}

#introDiv.showIntroDiv {
    display: flex;
}

#introTextDiv {
    opacity: 0;
    background-color: white;
    text-align: center;
    font-style: italic;
    border-radius: 1.5rem 1.5rem 0 0;
    will-change: opacity;
    margin-bottom: 4rem;
}

#introTextDiv.showIntroTextDiv {
    opacity: 1;
    animation: showIntro 500ms linear 1;
}

@keyframes showIntro {
    0% {opacity: 0;}
    25% {opacity: 0.25;}
    50% {opacity: 0.5;}
    75% {opacity: 0.75;}
    100%{opacity: 1;}
}





@media all and (max-width: 767px) {
    #gamePlayed {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    #container {
        grid-gap: 0.5rem;
    }

    .img-box {
        height: 6rem;
    }

    .result {
        font-size: 1rem;
        margin: 1rem 0;
    }

    #resTextDiv {
        width: 85%;
        padding: 0 2rem 2.5rem 2rem;
    }

    #resText {
        font-size: 1rem;
    }

    #canRes {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .imgPos {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
    }

    #introTextDiv {
        width: 85%;
        padding: 2.5rem 2rem;
    }

    #introText {
        font-size: 1rem;
    }
}




@media all and (min-width: 768px) and (max-width: 1023px) {
    #gamePlayed {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    #body {
        padding: 2rem;
    }

    #container {
        grid-gap: 1.5rem;
    }

    .img-box {
        height: 10rem;
    }

    .result {
        font-size: 2rem;
        margin: 1.5rem 0;
    }

    #resTextDiv {
        width: 85%;
        padding: 0 2rem 4rem 2rem;
    }

    #resText {
        font-size: 2rem;
    }

    #canRes {
        font-size: 4rem;
        margin-top: 4rem;
    }

    .imgPos {
        font-size: 2rem;
        padding: 0.5rem 0.75rem;
    }

    #introTextDiv {
        width: 85%;
        padding: 4rem 2rem;
    }

    #introText {
        font-size: 2rem;
    }
}




@media all and (min-width: 1024px) {
    #gamePlayed {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    #body {
        position: absolute;
        width: 35%;
        left: 0;
        right: 0;
        margin: auto;
        padding-top: 1rem;
    }

    #container {
        grid-gap: 0.5rem;
    }

    .img-box {
        height:7.5rem;
    }

    .result {
        font-size: 1rem;
        margin: 1rem 0;
    }

    #resTextDiv {
        width: 50%;
        padding: 0 2rem 2.5rem 2rem;
    }

    #resText {
        font-size: 1rem;
    }

    #canRes {
        font-size: 2.5rem;
        margin-top: 1.5rem;
    }

    .imgPos {
        font-size: 1.25rem;
        padding: 0.25rem 0.5rem;
    }

    #introTextDiv {
        width: 50%;
        padding: 2.75rem 2rem;
    }

    #introText {
        font-size: 1rem;
    }
}