* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

#gamePlayed {
  text-align: center;
}

.img-box {
  position: relative;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-img {
  width: 100%;
  height: 100%;
}

.main-img.visImg {
  visibility: visible;
  object-fit: cover;
  object-position: center;
}

.imgPos {
  position: absolute;
  right: 0;
  background-color: black;
  color: white;
}

.result-div {
    display: flex;
    flex-direction: column;
}

.result {
  font-weight: 500;
}

#introDiv {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.15);
  display: none;
  align-items: flex-end;
  justify-content: center;
}

#introDiv.showIntroDiv {
  display: flex;
}

#introTextDiv {
  opacity: 0;
  background-color: white;
  text-align: center;
  font-style: italic;
  border-radius: 1.5rem 1.5rem 0 0;
  width: 85%;
}

#introTextDiv.showIntroTextDiv {
  opacity: 1;
  animation: showIntro 500ms linear 1;
}

@keyframes showIntro {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}





@media all and (max-width: 767px) {
  #gamePlayed {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  #body {
    padding: 1.5rem;
  }

  #container {
    grid-gap: 0.5rem;
  }

  .img-box {
    height: 6rem;
  }

  .result-div {
    margin: 1.5rem 0;
    gap: 0.35rem 0;
  }

  .imgPos {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }

  #introTextDiv {
    padding: 2.5rem 2rem;
  }

  #introText {
    font-size: 1rem;
  }
}





@media all and (min-width: 768px) and (max-width: 1023px) {
  #gamePlayed {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }

  #body {
    padding: 2rem 4rem;
  }

  #container {
    grid-gap: 1.25rem;
  }

  .img-box {
    height: 13.5rem;
  }

  .result-div {
    margin: 2.5rem 0;
    gap: 1rem 0;
  }

  .result {
    font-size: 2rem;
  }

  .imgPos {
    font-size: 2rem;
    padding: 0.5rem 0.75rem;
  }

  #introTextDiv {
    padding: 4rem 2rem;
  }

  #introText {
    font-size: 2rem;
  }
}





@media all and (min-width: 1024px) {
  #gamePlayed {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  #body {
    width: 30%;
    margin: 3.5rem auto;
  }

  #container {
    grid-gap: 0.5rem;
  }

  .img-box {
    height: 8.5rem;
  }

  .result-div {
    margin: 2rem 0;
    gap: 0.75rem 0;
  }

  .result {
    font-size: 1rem;
  }

  .imgPos {
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
  }

  #introTextDiv {
    width: 50%;
    padding: 2.75rem 2rem;
  }

  #introText {
    font-size: 1rem;
  }
}
