*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

#body {
    padding: 1rem;
}

.img-box {
    background-color: white;
    position: relative;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-img {
    width: 100%;
    height: 100%;
    /* visibility: hidden; */
}

.main-img.visImg {
    visibility: visible;
    object-fit: cover;
    object-position: center;
}

.result {
    font-weight: 500;
}

#resDiv {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.15);
    display: none;
}

#resDiv.showResDiv {
    display: block;
    z-index: 100;
}

#resTextDiv {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    border: hidden;
    top: 100%;
}

#resTextDiv.showTextDiv {
    top: 82.5%;
    bottom: 0;
    animation: showRes 500ms linear;
}

@keyframes showRes {
    from {top: 100%;}
    to {top: 82.5%; bottom: 0;}
}

#resText {
    color: black;
    text-align: center;
    font-style: italic;
}

#canRes {
    margin-left: 90%;
    color: rgba(0, 0, 0, 0.5);
}

.imgPos {
    position: absolute;
    right: 0;
    background-color: black;
    color: white;
}

#introDiv {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 100;
    display: none;
}

#introDiv.showIntroDiv {
    display: block;
}

#introTextDiv {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: auto;
    background-color: white;
    border: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#introTextDiv.showIntroTextDiv {
    top: 80%;
    bottom: 0;
    animation: showIntro 500ms linear;
}

@keyframes showIntro {
    from {top: 100%;}
    to {bottom: 0; top: 80%;}
}

#introText {
    text-align: center;
    font-style: italic;
}





@media all and (max-width: 767px) {

    #container {
        grid-gap: 0.5rem;
    }

    .img-box {
        height: 6rem;
    }

    .result {
        font-size: 1rem;
        margin: 1rem 0;
    }

    #resTextDiv {
        width: 85%;
        padding: 1rem 2rem 2rem 2rem;
        border-radius: 2.5rem 2.5rem 0 0;
    }

    #resText {
        font-size: 1rem;
    }

    #canRes {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .imgPos {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
    }

    #introTextDiv {
        width: 85%;
        padding: 1rem 2rem 2rem 2rem;
        border-radius: 2.5rem 2.5rem 0 0;
    }

    #introText {
        font-size: 1rem;
    }
}




@media all and (min-width: 768px) and (max-width: 1023px) {

    #body {
        padding: 2rem;
    }

    #container {
        grid-gap: 1rem;
    }

    .img-box {
        height: 12rem;
    }

    .result {
        font-size: 2rem;
        margin: 1.5rem 0;
    }

    #resTextDiv {
        width: 85%;
        padding: 1rem 2rem 2rem 2rem;
        border-radius: 2.5rem 2.5rem 0 0;
    }

    #resText {
        font-size: 1rem;
    }

    #canRes {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .imgPos {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
    }

    #introTextDiv {
        width: 85%;
        padding: 1rem 2rem 2rem 2rem;
        border-radius: 2.5rem 2.5rem 0 0;
    }

    #introText {
        font-size: 1rem;
    }
}




@media all and (min-width: 1024px) {

    #body {
        position: absolute;
        width: 50%;
        left: 0;
        right: 0;
        margin: auto;
    }

    #container {
        grid-gap: 0.5rem;
    }

    .img-box {
        height: 8rem;
    }

    .result {
        font-size: 1.5rem;
        margin: 1rem 0;
    }

    #resTextDiv {
        width: 85%;
        padding: 1rem 2rem 2rem 2rem;
        border-radius: 2.5rem 2.5rem 0 0;
    }

    #resText {
        font-size: 1rem;
    }

    #canRes {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .imgPos {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
    }

    #introTextDiv {
        width: 85%;
        padding: 1rem 2rem 2rem 2rem;
        border-radius: 2.5rem 2.5rem 0 0;
    }

    #introText {
        font-size: 1rem;
    }
}